<div ng-switch="indicator.name">
<!-- SECTIONS PARC INDICATORS MANAGEMENT   -->
    <div ng-switch-when="SCCROffersEvolution">
        <ora-parc-offers on-period='indicator.onPeriod' monthly-history='indicator.monthlyHistory' metrics-definitions='indicator.metricsDefinitions' section='section' class='col-md-12'>
        </ora-parc-offers>
    </div>
    
    <!-- SECTIONS INCIDENT INDICATORS MANAGEMENT   -->
   <div ng-switch-when="incidentsWithServiceInterruptionNumber">
        <ora-incidents-indicator indicator='indicator' class='col-md-12'>
        </ora-incidents-indicator>
    </div>

    <!-- SECTIONS QOS INDICATORS MANAGEMENT   -->
    <div ng-switch-when="globalVpnInternetAvailabilityRate">
        <em class='col-md-12' data-ng-if="recalculating">
            <div style="padding-top: 5px; padding-bottom: 10px;">
                <span class="glyphicon glyphicon-warning-sign" style="color: orange">
                </span>
                <span translate="{{recalculating.message}}" translate-default="&nbsp;"></span>
            </div>
        </em>
        <h6 data-ng-if="!garTitle(indicator)" data-ng-bind='indicator.longLabel' style='text-align: left;display:inline'> </h6>
        <div style="margin-left: 10px;">
          <em data-ng-if="indicator.applicability.applicable === false && indicator.applicability.inapplicabilityCode === inapplicabilityReasonConstant.NOT_ENOUGH_OFFER">{{indicator.applicability.inapplicabilityReason}}</em>
        </div>
        <div data-ng-if="indicator.applicability.applicable">
            <ora-qos-gar-internet indicator='indicator' frequency='frequency' class='col-md-12'>
            </ora-qos-gar-internet>
        </div>
    </div>

    <div ng-switch-when="globalEthernetAvailabilityRate">
        <em data-ng-if="recalculating" class="col-md-12">
            <div style="padding-top: 5px; padding-bottom: 10px;">
                <span class="glyphicon glyphicon-warning-sign" style="color: orange">
                </span>
                <span translate="{{recalculating.message}}" translate-default="&nbsp;"></span>
            </div>
        </em>
        <h6 data-ng-if="!garTitle(indicator)" data-ng-bind='indicator.longLabel' style='text-align: left;display:inline'> </h6>
        <div style="margin-left: 10px;">
          <em  data-ng-if="indicator.applicability.applicable === false && indicator.applicability.inapplicabilityCode === inapplicabilityReasonConstant.NOT_ENOUGH_OFFER">{{indicator.applicability.inapplicabilityReason}}</em>
        </div>
        <div data-ng-if="indicator.applicability.applicable">
            <ora-qos-gar-ethernet indicator='indicator' section='section' frequency='frequency' class='col-md-12'>
            </ora-qos-gar-ethernet>
        </div>

    </div>

    <div ng-switch-when="proactivityRate">
        <em data-ng-if="recalculating" class="col-md-12">
            <div style="padding-top: 5px; padding-bottom: 10px;">
                <span class="glyphicon glyphicon-warning-sign" style="color: orange">
                </span>
                <span translate="{{recalculating.message}}" translate-default="&nbsp;"></span>
            </div>
        </em>
        <pai-indicator indicator='indicator' class='col-md-12'>
        </pai-indicator>
    </div>

   <div ng-switch-when="accessAvailabilityRate">
        <em class='col-md-12' data-ng-if="recalculating">
            <div style="padding-top: 5px; padding-bottom: 10px;">
                <span class="glyphicon glyphicon-warning-sign" style="color: orange">
                </span>
                <span translate="{{recalculating.message}}" translate-default="&nbsp;"></span>
            </div>
        </em>
        <ora-qos-aar indicator='indicator' class='col-md-12'>
        </ora-qos-aar>
    </div>

    <div ng-switch-when="GTTRFulfilment">
        <ora-qos-gttr indicator='indicator' class='col-md-12'>
        </ora-qos-gttr>
    </div>

    <div ng-switch-when="performance">
        <div data-ng-if ="indicator.applicability.applicable">
                <h6 style='text-align: left;display:inline' translate-default="&nbsp;" translate>IND_QOS_PERF_LONGLABEL</h6>
                <ora-export-to-excel export="{type: 'PERFORMANCE'}" class="excelPerformance"></ora-export-to-excel>
        </div>       
        <ora-perfo-indicators section='section' class='col-md-12'>
        </ora-perfo-indicators>
    </div>
    <!-- SECTIONS USAGE INDICATORS MANAGEMENT   -->
    
    <div ng-switch-when="SCCRDataVolume">
        <div data-ng-if="indicator.dimensionProvided !== dimensionValuesConstant.ONLY">
            <h6 data-ng-bind='indicator.longLabel' style='text-align: left;display:inline'> </h6>
            <ora-sccr-data-volume indicator='indicator' class='col-md-12'>
            </ora-sccr-data-volume>
        </div>
    </div>

    <div ng-switch-when="SCCRDataLoad">
        <ora-sccr-data-load indicator='indicator' class='col-md-12'>
        </ora-sccr-data-load>
    </div>

<div ng-switch-when="MSIFulfilment">
    <em data-ng-if="recalculating" class="col-md-12">
        <div style="padding-top: 5px; padding-bottom: 10px;">
            <span class="glyphicon glyphicon-warning-sign" style="color: orange">
            </span>
            <span translate="{{recalculating.message}}" translate-default="&nbsp;"></span>
        </div>
    </em>
    <span class="font-italic" data-ng-if="indicator.applicability.applicable === false">{{indicator.applicability.inapplicabilityReason}}</span>
    <div data-ng-if="indicator.applicability.applicable">
        <ora-sccr-qos-ims indicator='indicator' class='col-md-12'>
        </ora-sccr-qos-ims>
    </div>

</div>

</div>