<div class="bg-white">
  <div class="col-md-10">
    <p class="col-md-12 font-14 pull-right" ta-bind ng-model="commentFormated" data-ng-if="commentFormated"></p>
    <p class="col-md-12 font-14 pull-right" data-ng-if="displayNoCommentMessage() && !commentFormated">
      <em class="blue-light-color" translate="COMMENT_NO_COMMENT_LONGLABEL" translate-default="&nbsp;"></em>
    </p>
  </div>

  <div data-ng-if="isUserIntern()" class=" col-md-2 text-center">
    <span data-ng-if="messagePopOver" style="vertical-align: -webkit-baseline-middle; font-size: 1.3em;" class="glyphicon glyphicon-info-sign popover-glyphicon " data-popover-placement="top" data-uib-popover="{{messagePopOver}}" data-popover-trigger="mouseenter"> </span>
    <button data-ng-disabled="utils.disableInput" class="btn btn-large bg-gray pull-right" type="button" data-ng-click="editComment(typeSection)" data-ng-if="!isPerodValidated()" style="padding-top: 5px; padding-bottom: 5px;">
      <span data-ng-if="!utils.disableInput" translate="COMMENT_EDIT_SHORTLABEL" translate-default="&nbsp;"></span>
      <span data-ng-if="utils.disableInput" data-toggle="tooltip" data-placement="left" title="{{commentMTPMessage}}" translate="COMMENT_EDIT_SHORTLABEL" translate-default="&nbsp;"></span>
    </button>
  </div>
</div>
