<div class="summary-block-count" data-ng-if="block.isValid">
    <div class="col-md-8 col-md-offset-2">
        <span class="score"> {{block.score}} {{block.unit}}</span>
    </div>
    <div class="col-md-2">
        <trend-indicator tooltips='tooltips' data="block.evolution"></trend-indicator>
    </div>
</div>
<div class="summary-block-count" data-ng-if="!block.isValid">
    <div class="indicators ml-10 pt-10 font-italic" translate translate-default="&nbsp;">{{block.invalidMessage}}</div>
</div>

<div class="indicators ml-10 pt-10" ng-bind='block.title'></div>