<div class="col-md-12" data-ng-if="indicator.volumIndicator.dimensionProvided !== dimensionValuesConstant.ONLY" style="padding-top: 50px;"></div>
<div style="padding-right: 0;" class="col-md-12" data-ng-if="indicator.dimension && (indicator.dimensionProvided !== dimensionValuesConstant.NO || indicator.volumIndicator.dimensionProvided !== dimensionValuesConstant.NO)">
    <!-- && dimensionProvided !== 'no' -->
    <div ng-repeat="dimension in indicator.dimension.values ">
        <!-- Titles -->
        <ora-indicator-title style="margin-left: -31px;" class="col-md-12" label='buildRefcomTitle(dimension.dimensionGroup)' ng-if="isNewRefcom($index)"></ora-indicator-title>

        <ora-indicator-title class="col-md-12" data-ng-if="dimension.applicability.applicable" label='dimension.dimensionValue'></ora-indicator-title>
        <em data-ng-if=" ! dimension.applicability.applicable && isNewRefcom($index)" style="font-size:1.2rem; float: left" data-ng-bind-template="{{dimension.applicability.inapplicabilityReason}}"></em>

        <!-- USAGE DATA LOAD -->
        <div style="padding-right: 0;" class="col-md-12" data-ng-if="dimension.monthlyHistory.length > 0 && indicator.dimensionProvided !== dimensionValuesConstant.NO && dimension.applicability.applicable">
            <ora-indicator-title class="col-md-12" label='indicator.dimension.dimensionIndicatorLabel'></ora-indicator-title>
            <div class="col-md-5">
                <ora-generic-monthly-table monthly-history='dimension.monthlyHistory' metrics-definitions="indicator.metricsDefinitions" indicator-info='dataLoadIndicatorInfo' configurations='usageDataLoadConfigurations' extra-style ="usageStyles">
                </ora-generic-monthly-table>
            </div>
            <div class="col-md-7">
                <ora-flat-histogram historic-id="dimension.idHisto.loadData" historic-options="usageDataLoadHistoricOptions" monthly-history="dimension.monthlyHistory" metrics-definitions="indicator.metricsDefinitions" legend-unit="legendUnit" unit-tooltip="indicator.unit">
                </ora-flat-histogram>
            </div>
        </div>

        <!-- USAGE DATA VOLUME -->
        <div style="padding-right: 0;" class="col-md-12" data-ng-if="dimension.volumeMonthlyHistory.length > 0 && indicator.volumIndicator.dimensionProvided !== dimensionValuesConstant.NO && dimension.applicability.applicable">
            <ora-indicator-title class="col-md-12" label='dimension.volumetryTitle'></ora-indicator-title>
            <div class="col-md-5">
                <ora-generic-monthly-table monthly-history='dimension.volumeMonthlyHistory' metrics-definitions="indicator.volumIndicator.metricsDefinitions" indicator-info='dalaVolumeIndicatorInfo' configurations='usageDataVolumeConfigurations' extra-style ="usageStyles">
                </ora-generic-monthly-table>
            </div>
            <div class="col-md-7">
                <ora-line-histogram historic-id="dimension.idHisto.volumeData" historic-options="usageDataVolumeHistoricOptions" monthly-history="dimension.volumeMonthlyHistoryConverted" metrics-definitions="indicator.volumIndicator.metricsDefinitions" legend-unit="dimension.volumetryLegendUnit">
                </ora-line-histogram>
            </div>
        </div>

    </div>
</div>