<div class="col-md-5">
    <ora-generic-monthly-table monthly-history='indicator.monthlyHistory' metrics-definitions="indicator.metricsDefinitions" indicator-info='aarIndicatorInfo' configurations='aarConfigurations'></ora-generic-monthly-table>
</div>
<div class="col-md-7">
</div>
<div class="col-md-12" data-ng-if="indicator.onPeriod.information && indicator.onPeriod.information[0] && indicator.onPeriod.information[0].href">
    <aar-table report-type ="type" tab-title='indicator.onPeriod.information[0].label'></aar-table>
</div>