<div ng-if="pages.length >= 2">
    <ul class="pagination paginationDetail">
        <li ng-class="{'disabled' : currentPage === 1}">
            <a ng-click="selectPage(currentPage-1)" href="">
                &lt;</a>
        </li>
        <li ng-class="{active: currentPage==1}">
            <a ng-click="selectPage(1)" href="" ng-bind='1'></a>
        </li>
        <li ng-if="currentPage >= 4">
            <a ng-click="selectPage(currentPage - 3)" href="">..</a>
        </li>
        <li ng-if="(page==currentPage || page==currentPage + 1 || page==currentPage - 1) && page!=pages.length && page!=1" ng-repeat="page in pages" ng-class="{active: page==currentPage}">
            <a ng-click="selectPage(page)" href="" ng-bind='page'></a></li>
        <li ng-if="currentPage < pages.length - 2">
            <a ng-click="selectPage(currentPage + 3)" href="">..</a>
        </li>
        <li ng-class="{active: currentPage==pages.length}">
            <a ng-click="selectPage(pages.length)" href="" ng-bind='pages.length'></a>
        </li>
        <li ng-class="{'disabled' : currentPage === numPages}">
            <a ng-click="selectPage(currentPage+1)" href="">
                &gt;</a></li>
    </ul>
</div>