<div ng-show="vm.details && vm.details.length > 0" style="padding-top: 15px;">
    <h6 translate-default="&nbsp;" style='margin-left: -20px;' translate>PERF_DET_TITLE_LONGLABEL</h6>
    <table style="margin-top: 15px;" st-table="vm.details" st-pipe="vm.callServer" class="table table-bordered table-hover table-condensed table-small bg-gray-light {{values.style}}">
        <thead>
            <tr data-ng-repeat="header in vm.structure.headers ">
                <td st-sort="accessA" class="text-center {{h.class ? h.class : ''}}" style="font-size:14px;" colspan="{{h.colspan ? h.colspan : 1}}" rowspan="{{h.rowspan ? h.rowspan : 1}}" data-ng-repeat="h in header" data-ng-if="h.name" translate translate-default="&nbsp;">
                    {{h.name}}
                    </th>
            </tr>
        </thead>
        <tbody ng-show="!vm.isLoading">
            <tr data-ng-repeat="detail in vm.details">
                <td>{{ vm.getDate(detail.month) | date : 'MMMM' }}</td>
                <td style="word-break: break-all;">
                    {{detail.path.endpointA}}
                </td>
                <td style="word-break: break-all;">
                    {{detail.path.endpointB}}
                </td>
                <td class="text-center">{{detail.serviceClass}}</td>
                <td class="text-center">{{detail.sampleRate | number : 2}}</td>
                <td data-ng-if="!detail.roundTripDelay || detail.roundTripDelay.threshold == undefined" class="text-center">NA</td>
                <td data-ng-if="detail.roundTripDelay && detail.roundTripDelay.threshold !== undefined" class="text-center">{{detail.roundTripDelay.threshold | number}}</td>
                <td data-ng-if="!detail.roundTripDelay || detail.roundTripDelay.measure == undefined" class="text-center">NA</td>
                <td data-ng-if="detail.roundTripDelay && detail.roundTripDelay.measure !== undefined" data-ng-class="!detail.roundTripDelay.measure || !detail.roundTripDelay.threshold ? '' : detail.roundTripDelay.measure <= detail.roundTripDelay.threshold ? 'bg-green' : 'bg-red'" class="text-center">{{detail.roundTripDelay.measure | number : 3}}
                </td>
                <td data-ng-if="!detail.packetLossRate || detail.packetLossRate.threshold == undefined" class="text-center">NA</td>
                <td data-ng-if="detail.packetLossRate && detail.packetLossRate.threshold !== undefined" class="text-center">{{detail.packetLossRate.threshold | number}}</td>
                <td data-ng-if="!detail.packetLossRate || detail.packetLossRate.measure == undefined" class="text-center">NA</td>
                <td data-ng-if="detail.packetLossRate && detail.packetLossRate.measure !== undefined" data-ng-class="!detail.packetLossRate.measure || !detail.packetLossRate.threshold ? '' : detail.packetLossRate.measure <= detail.packetLossRate.threshold ? 'bg-green' : 'bg-red'" class="text-center">{{detail.packetLossRate.measure | number : 3}}
                </td>
                <td data-ng-if="!detail.jitter || detail.jitter.threshold == undefined" class="text-center">NA</td>
                <td data-ng-if="detail.jitter && detail.jitter.threshold !== undefined" class="text-center">{{detail.jitter.threshold | number}}</td>
                <td data-ng-if="!detail.jitter || detail.jitter.measure == undefined" class="text-center">NA</td>
                <td data-ng-if="detail.jitter && detail.jitter.measure !== undefined" data-ng-class="!detail.jitter.measure || !detail.jitter.threshold ? '' : detail.jitter.measure <= detail.jitter.threshold ? 'bg-green' : 'bg-red'" class="text-center">{{detail.jitter.measure | number : 3}}
                </td>
            </tr>
        </tbody>
        <tbody ng-show="vm.isLoading">
            <tr>
                <td colspan="11" class="text-center">Loading ... </td>
            </tr>
        </tbody>
        <tfoot ng-show="vm.numberOfPages > 1">
            <tr>
                <td colspan="11">
                    <div style="height: 50px" st-pagination="" st-items-by-page="vm.numberItemsDisplayed" st-displayed-pages="vm.numberOfPages" st-template="/scripts/ora-gui-msccr/scripts/qos/performance/pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>