<div class="col-md-5">
    <ora-generic-monthly-table
      monthly-history='indicator.monthlyHistory'
      metrics-definitions="indicator.metricsDefinitions"
      indicator-info='garEthernetIndicatorInfo'
      configurations='garEthernetConfigurations'
      yearly-history='indicator.annualHistory'>
  </ora-generic-monthly-table>
</div>
<div class="col-md-7">
          <ora-flat-histogram historic-id="historicId" historic-options="historicOptions" monthly-history="histoMonthlyHistData" yearly-history="histoYearlyData" metrics-definitions="histoMetricsDefinition"  one-bar-option = "oneBarOption"></ora-flat-histogram>
</div>