<div class="row vertical-center" data-ng-hide="0===ctrl.reports.nbPeriod ">
    <ora-period-selection class="col-md-11" style="padding: 10px 0px 10px 0px;"> </ora-period-selection>
   <!-- <ora-export-to-excel export="{type: 'MSCCR'}" class="col-md-1 text-center excelSccr"></ora-export-to-excel>-->
</div>

<div class="row" data-ng-if="((ctrl.reports.nbPeriod === 0) || ctrl.reports.displayNoValidatedPeriods)">
    <ora-warning-message>
        <span style="white-space: pre-wrap;" data-ng-bind-html="ctrl.reports.reportAvailabilityMsg"></span>
    </ora-warning-message>
    <!-- API not responding warning message-->
    <ora-warning-message >
        <span style="white-space: pre-wrap;" data-ng-bind-html="ctrl.apiUnavailableMessage"></span>
    </ora-warning-message>
</div>
<div class="row" ng-if="ctrl.recalculating && !((ctrl.reports.nbPeriod === 0) || ctrl.reports.displayNoValidatedPeriods)">
    <ora-warning-message>
        <div translate translate-default="&nbsp;">{{ ctrl.recalculating.message }}</div>
    </ora-warning-message>
</div>


<div data-ng-hide="0===ctrl.reports.nbPeriod  || {}===ctrl.reports.selected">
    <ora-summary sections='ctrl.report.sections' report='ctrl.report' tooltips='ctrl.tooltips' configuration='ctrl.summaryConfiguration'></ora-summary>
    <ora-fact></ora-fact>
    <ora-section ng-if='section.indicators.length > 0 && section.applicability.applicable' ng-repeat="section in ctrl.report.sections | sectionsOrder" section-title="section.label" border-color='section.styles.color.borderclass' background-color='section.styles.color.backgroundclass'>
        <ora-comments comment="section.comment" class="col-md-12 noPadding" type-section="{{section.name}}"></ora-comments>
       <div ng-repeat="indicator in section.indicators | sccrNewIndicatorsOrder:section.name" data-ng-if="indicator | sccrIndicatorApplicability">
            <div class="col-md-12">
                <ora-indicator-title label='indicator.longLabel' data-ng-if="(indicator.name != ctrl.indicatorsName.SCCR_DATA_LOAD && indicator.name != ctrl.indicatorsName.SCCR_DATA_VOLUME && indicator.name != ctrl.indicatorsName.SCCR_GAR_ETHERNET && indicator.name != ctrl.indicatorsName.SCCR_GAR_VPN  && indicator.name != ctrl.indicatorsName.SCCR_PERFORMANCE)"></ora-indicator-title>
            </div>
            <ora-indicator-sccr indicator='indicator' section='section' frequency='ctrl.report.period.frequency' class='col-md-12'>
            </ora-indicator-sccr>
        </div> 
    </ora-section>
</div>
