
   <div class="col-md-5">
        <ora-evolution-table on-period='offersOnPeriod' metrics-definitions="offersMetricsDefinitions" extra-space-metric-names="extraSpaceMetricNames" type-of-indicator ="offersIndInfo"></ora-evolution-table>
        </br>
        <h6 style ='margin-left: -20px;'>{{sitesIndicatorInfo.shortLabel}}</h6>
        <ora-evolution-table on-period='sitesOnPeriod' metrics-definitions="sitesMetricsDefinitions" extra-space-metric-names="extraSpaceMetricNames"  type-of-indicator ="sitesIndInfo"></ora-evolution-table>
       
    </div>
    <div class="col-md-7">
        <ora-flat-histogram historic-id="historicId" historic-options="historicOptions" monthly-history="histoMonthlyHistData" metrics-definitions="histoMetricsDefinition"></ora-flat-histogram>
    </div>

<ora-parc-options indicator ="optionsIndicatorInfo" class='col-md-12'></ora-parc-options>
 
