 
<div class="col-md-5" style="padding-left: 0;">
    <h6 style ='margin-left: -20px;'>{{optionsLabel}}</h6>
<ora-evolution-table on-period='onPeriodCopy' metrics-definitions="metricsDefinitions" type-of-indicator = "optionsIndInfo"></ora-evolution-table>      
</div>
