// color
.orange-color {
    color: @orange;
}

.red-color {
    color: @red;
}

.green-color {
    color: @green;
}

.white-color {
    color: white;
}

.blue-color {
    color: @blue;
}

.blue-light-color {
    color: @blue-light;
}

.blue-strong-color {
    color: @blue-strong;
}

.black-color {
    color: black;
}

.red-error {
    color: #FF0000;
}

// background
.bg-gray-light {
    background-color: @gray-light
}

.bg-gray {
    background-color: @gray;
}

.bg-deep-sky-blue {
    background-color: @deep-sky-blue;
}

.bg-red {
    background-color: @red;
}

.bg-green {
    background-color: @green;
}

.bg-aquamarine-medium {
    background-color: @aquamarine-medium;
}

.bg-blue {
    background-color: @blue;
}

.bg-dark-gray {
    background-color: @dark-gray;
}

.bg-incident-tiers-gray {
    background-color: @gray_tiers;
}

.bg-incident-others-gray {
    background-color: @gray_others;
}

.bg-dark {
    background-color: @dark;
}

.bg-orange {
    background-color: @orange;
}

.bg-violet {
    background-color: @violet;
}

.bg-gold {
    background-color: @gold;
}

.bg-white {
    background-color: white;
}

.bg-blue-light {
    background-color: @blue-light;
}

// font styling
.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

// fill
.fill-green {
    fill: @green;
}

.fill-red {
    fill: @red;
}

.fill-orange {
    fill: @orange;
}

.fill-white {
    fill: @white;
}

.fill-black {
    fill: @black;
}

.fill-gold {
    fill: @gold;
}

.fill-blue {
    fill: @blue;
}

.fill-gray {
    fill: @gray;
}

.fill-pai-gray {
    fill: @pai-gray;
}

.fill-purple {
    fill: @purple;
}

.fill-pink {
    fill: @pink;
}

.fill-emission {
    fill: @emission;
}

.fill-reception {
    fill: @reception;
}

.fill-transparent {
    fill: transparent;
}

.fill-incident_tiers {
    fill: @gray_tiers;
}

.fill-incident_others {
    fill: @gray_others;
}

// stroke
.stroke-emission {
    stroke: @emission;
}

.stroke-red {
    stroke: @red;
}

.stroke-reception {
    stroke: @reception;
}

.stroke-green {
    stroke: @green;
}

.stroke-blue {
    stroke: @blue;
}

.stroke-black {
    stroke: @black;
}

// margin
.generate-margin(10);

.generate-margin(@n, @i: 0) when (@i =< @n) {
    @j: @i*5;

    .ml-@{j} {
        margin-left: unit(@j, px);
    }

    .mr-@{j} {
        margin-right: unit(@j, px);
    }

    .mt-@{j} {
        margin-top: unit(@j, px);
    }

    .mb-@{j} {
        margin-bottom: unit(@j, px);
    }

    .generate-margin(@n, (@i + 1));
}

.generate-padding(10);

.generate-padding(@n, @i: 0) when (@i =< @n) {
    @j: @i *5;

    .pl-@{j} {
        padding-left: unit(@j, px);
    }

    .pr-@{j} {
        padding-right: unit(@j, px);
    }

    .pt-@{j} {
        padding-top: unit(@j, px);
    }

    .pb-@{j} {
        padding-bottom: unit(@j, px);
    }

    .generate-padding(@n, (@i + 1));
}

// border
.table-small {

    >tbody,
    >thead {
        >tr {

            >td,
            >th {
                padding-top: 1px !important;
                padding-bottom: 1px !important;
            }
        }
    }
}

.table-small2 {

    >tbody,
    >thead {
        >tr {

            >td,
            >th {
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }
    }
}

.table-left-border {
    border-left: 1px solid black !important;
}

.table-right-border {
    border-right: 1px solid black !important;
}

.table-border {
    //border: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.table-no-border {
    border: 0;
    border-bottom: 0 !important;
}

.table-size-fixed {
    table-layout: fixed;
    width: 100%;
}

.custom_break_word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.table-cell-55 {
    width: 55px;
}

.table-cell-82 {
    width: 82px;
}

.table-cell-60 {
    width: 60px;
}

.table-cell-120 {
    width: 120px;
}

.table-cell-180 {
    width: 120px;
}

.error-msg {
    height: 20px;
}

// border color
.border-aquamarine-medium {
    border-top: 6px solid @aquamarine-medium;
}

.border-gold {
    border-top: 6px solid @gold;
}

.border-deep-sky-blue {
    border-top: 6px solid @deep-sky-blue;
}

.border-violet {
    border-top: 6px solid @violet;
}

//Global class
.noPadding {
    padding: 0;
}

.extendBorder {
    margin: 0 -2rem;
    padding: 0 2rem;
}

// brand colors, backgrounds, fill and stroke
.brand-black-color {
    color: @brand-black;
}

.brand-white-color {
    color: @brand-white;
}

.brand-orange-color {
    color: @brand-orange;
}

.brand-grey-color {
    color: @brand-grey;
}

.brand-dark-grey-color {
    color: @brand-dark-grey;
}

.brand-light-grey-color {
    color: @brand-light-grey;
}

.brand-blue-color {
    color: @brand-blue;
}

.brand-dark-blue-color {
    color: @brand-dark-blue;
}

.brand-light-blue-color {
    color: @brand-light-blue;
}

.brand-green-color {
    color: @brand-green;
}

.brand-dark-green-color {
    color: @brand-dark-green;
}

.brand-light-green-color {
    color: @brand-light-green;
}

.brand-pink-color {
    color: @brand-pink;
}

.brand-dark-pink-color {
    color: @brand-dark-pink;
}

.brand-light-pink-color {
    color: @brand-light-pink;
}

.brand-purple-color {
    color: @brand-purple;
}

.brand-dark-purple-color {
    color: @brand-dark-purple;
}

.brand-light-purple-color {
    color: @brand-light-purple;
}

.brand-yellow-color {
    color: @brand-yellow;
}

.brand-dark-yellow-color {
    color: @brand-dark-yellow;
}

.brand-light-yellow-color {
    color: @brand-light-yellow;
}

.brand-skin-tone-1-color {
    color: @brand-skin-tone-1;
}

.brand-skin-tone-2-color {
    color: @brand-skin-tone-2;
}

.brand-skin-tone-3-color {
    color: @brand-skin-tone-3;
}

.brand-skin-tone-4-color {
    color: @brand-skin-tone-4;
}

.brand-skin-tone-5-color {
    color: @brand-skin-tone-5;
}

.brand-skin-tone-6-color {
    color: @brand-skin-tone-6;
}

.brand-skin-tone-7-color {
    color: @brand-skin-tone-7;
}

.bg-brand-black {
    background-color: @brand-black;
}

.bg-brand-white {
    background-color: @brand-white;
}

.bg-brand-orange {
    background-color: @brand-orange;
}

.bg-brand-grey {
    background-color: @brand-grey;
}

.bg-brand-dark-grey {
    background-color: @brand-dark-grey;
}

.bg-brand-light-grey {
    background-color: @brand-light-grey;
}

.bg-brand-blue {
    background-color: @brand-blue;
}

.bg-brand-dark-blue {
    background-color: @brand-dark-blue;
}

.bg-brand-light-blue {
    background-color: @brand-light-blue;
}

.bg-brand-green {
    background-color: @brand-green;
}

.bg-brand-dark-green {
    background-color: @brand-dark-green;
}

.bg-brand-light-green {
    background-color: @brand-light-green;
}

.bg-brand-pink {
    background-color: @brand-pink;
}

.bg-brand-dark-pink {
    background-color: @brand-dark-pink;
}

.bg-brand-light-pink {
    background-color: @brand-light-pink;
}

.bg-brand-purple {
    background-color: @brand-purple;
}

.bg-brand-dark-purple {
    background-color: @brand-dark-purple;
}

.bg-brand-light-purple {
    background-color: @brand-light-purple;
}

.bg-brand-yellow {
    background-color: @brand-yellow;
}

.bg-brand-dark-yellow {
    background-color: @brand-dark-yellow;
}

.bg-brand-light-yellow {
    background-color: @brand-light-yellow;
}

.bg-brand-skin-tone-1 {
    background-color: @brand-skin-tone-1;
}

.bg-brand-skin-tone-2 {
    background-color: @brand-skin-tone-2;
}

.bg-brand-skin-tone-3 {
    background-color: @brand-skin-tone-3;
}

.bg-brand-skin-tone-4 {
    background-color: @brand-skin-tone-4;
}

.bg-brand-skin-tone-5 {
    background-color: @brand-skin-tone-5;
}

.bg-brand-skin-tone-6 {
    background-color: @brand-skin-tone-6;
}

.bg-brand-skin-tone-7 {
    background-color: @brand-skin-tone-7;
}

.fill-brand-black {
    fill: @brand-black;
}

.fill-brand-white {
    fill: @brand-white;
}

.fill-brand-orange {
    fill: @brand-orange;
}

.fill-brand-grey {
    fill: @brand-grey;
}

.fill-brand-dark-grey {
    fill: @brand-dark-grey;
}

.fill-brand-light-grey {
    fill: @brand-light-grey;
}

.fill-brand-blue {
    fill: @brand-blue;
}

.fill-brand-dark-blue {
    fill: @brand-dark-blue;
}

.fill-brand-light-blue {
    fill: @brand-light-blue;
}

.fill-brand-green {
    fill: @brand-green;
}

.fill-brand-dark-green {
    fill: @brand-dark-green;
}

.fill-brand-light-green {
    fill: @brand-light-green;
}

.fill-brand-pink {
    fill: @brand-pink;
}

.fill-brand-dark-pink {
    fill: @brand-dark-pink;
}

.fill-brand-light-pink {
    fill: @brand-light-pink;
}

.fill-brand-purple {
    fill: @brand-purple;
}

.fill-brand-dark-purple {
    fill: @brand-dark-purple;
}

.fill-brand-light-purple {
    fill: @brand-light-purple;
}

.fill-brand-yellow {
    fill: @brand-yellow;
}

.fill-brand-dark-yellow {
    fill: @brand-dark-yellow;
}

.fill-brand-light-yellow {
    fill: @brand-light-yellow;
}

.fill-brand-skin-tone-1 {
    fill: @brand-skin-tone-1;
}

.fill-brand-skin-tone-2 {
    fill: @brand-skin-tone-2;
}

.fill-brand-skin-tone-3 {
    fill: @brand-skin-tone-3;
}

.fill-brand-skin-tone-4 {
    fill: @brand-skin-tone-4;
}

.fill-brand-skin-tone-5 {
    fill: @brand-skin-tone-5;
}

.fill-brand-skin-tone-6 {
    fill: @brand-skin-tone-6;
}

.fill-brand-skin-tone-7 {
    fill: @brand-skin-tone-7;
}

.stroke-brand-black {
    stroke: @brand-black;
}

.stroke-brand-white {
    stroke: @brand-white;
}

.stroke-brand-orange {
    stroke: @brand-orange;
}

.stroke-brand-grey {
    stroke: @brand-grey;
}

.stroke-brand-dark-grey {
    stroke: @brand-dark-grey;
}

.stroke-brand-light-grey {
    stroke: @brand-light-grey;
}

.stroke-brand-blue {
    stroke: @brand-blue;
}

.stroke-brand-dark-blue {
    stroke: @brand-dark-blue;
}

.stroke-brand-light-blue {
    stroke: @brand-light-blue;
}

.stroke-brand-green {
    stroke: @brand-green;
}

.stroke-brand-dark-green {
    stroke: @brand-dark-green;
}

.stroke-brand-light-green {
    stroke: @brand-light-green;
}

.stroke-brand-pink {
    stroke: @brand-pink;
}

.stroke-brand-dark-pink {
    stroke: @brand-dark-pink;
}

.stroke-brand-light-pink {
    stroke: @brand-light-pink;
}

.stroke-brand-purple {
    stroke: @brand-purple;
}

.stroke-brand-dark-purple {
    stroke: @brand-dark-purple;
}

.stroke-brand-light-purple {
    stroke: @brand-light-purple;
}

.stroke-brand-yellow {
    stroke: @brand-yellow;
}

.stroke-brand-dark-yellow {
    stroke: @brand-dark-yellow;
}

.stroke-brand-light-yellow {
    stroke: @brand-light-yellow;
}

.stroke-brand-skin-tone-1 {
    stroke: @brand-skin-tone-1;
}

.stroke-brand-skin-tone-2 {
    stroke: @brand-skin-tone-2;
}

.stroke-brand-skin-tone-3 {
    stroke: @brand-skin-tone-3;
}

.stroke-brand-skin-tone-4 {
    stroke: @brand-skin-tone-4;
}

.stroke-brand-skin-tone-5 {
    stroke: @brand-skin-tone-5;
}

.stroke-brand-skin-tone-6 {
    stroke: @brand-skin-tone-6;
}

.stroke-brand-skin-tone-7 {
    stroke: @brand-skin-tone-7;
}

.line-border-top-purple {
    border-top: solid 1px @brand-purple;
}

.line-border-top-deep-sky-blue {
    border-top: solid 1px @brand-blue;
}

.line-border-top-aquamarine-medium {
    border-top: solid 1px @aquamarine-medium;
}

.line-border-top-gold {
    border-top: solid 1px @gold;
}

.line-border-top-purple {
    border-top: solid 1px @brand-purple;
}

;

.no-border {
    border-bottom: 0px !important;
    text-align: left !important;
}

.extra-space-tr {

    >td,
    >th {
        padding-top: 15px !important;
    }
}

.extra-space-tr {
    height: 15px !important;
}