// Colors
@light: rgb(246,246,246);
@gray: rgb(221,221,221);
@gray-light: rgb(238, 238, 238);
@dark-gray: rgb(63, 63, 63);
@pai-gray: rgb(132, 132, 132);
@gray_tiers : rgb(89, 89, 89);
@gray_others : rgb(143, 143, 143);
@green: rgb(50,200,50);
@aquamarine-medium: @brand-green;
@purple: rgb(168,133,216);
@pink: rgb(255,180,230);
@blue-light: #4BB4E6;
@blue: rgb(61,117,184);
@blue-strong: rgb(16,37,63);
@deep-sky-blue: rgb(75,180,230);
@red: #dc3c14;
@orange: rgb(255, 121, 0);
@violet: rgb(168,133,216);
@gold: rgb(255,210,0);
@emission: rgb(73, 33, 145);
@reception: rgb(255, 180, 0);
@white: white;
@dark: black;
@black : black;
@orange-font-path: "../fonts";
@ora-light: #e7e7e7;

// brand colors
@brand-black : black;
@brand-white: white;
@brand-orange: rgb(255, 121, 0);
@brand-grey: rgb(143, 143, 143);
@brand-dark-grey: rgb(89, 89, 89);
@brand-light-grey: rgb(214, 214, 214);
@brand-blue: rgb(75,180,230);
@brand-dark-blue: rgb(8,94,189);
@brand-light-blue: rgb(181,232,247);
@brand-green: rgb(80,190,135);
@brand-dark-green: rgb(10,110,49);
@brand-light-green: rgb(184,235,214);
@brand-pink: rgb(255,180,230);
@brand-dark-pink: rgb(255,138,212);
@brand-light-pink: rgb(255,232,247);
@brand-purple: rgb(168,133,216);
@brand-dark-purple: rgb(73,33,145);
@brand-light-purple: rgb(217,194,240);
@brand-yellow: rgb(255,210,0);
@brand-dark-yellow: rgb(255,180,0);
@brand-light-yellow: rgb(255,246,182);
@brand-skin-tone-1: rgb(72, 46, 38);
@brand-skin-tone-2: rgb(98, 52, 45);
@brand-skin-tone-3: rgb(113, 78, 70);
@brand-skin-tone-4: rgb(193, 147, 114);
@brand-skin-tone-5: rgb(244, 207, 178);
@brand-skin-tone-6: rgb(255, 246, 182);
@brand-skin-tone-7: rgb(255, 232, 247);

// Sticky
@internal-sticky-offset: @internal-sticky-offset-tab + @internal-sticky-offset-period + @internal-sticky-offset-footer;
@internal-sticky-offset-tab: 138px;
@internal-sticky-offset-period: 103px;
@internal-sticky-offset-footer: 16px;
@external-sticky-offset: @internal-sticky-offset - 69px;
