// Periods

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}

ul.dropdown-menu > li {
  .period-to-validate {
    a > span {
      margin-left: 8px;
    }
    color: @orange !important;

    &.active {
      color: @light !important;
      background-color: @orange !important;
    }
  }

  .current-period {
    a  > span {
      margin-left: 8px;
    }
    color: @blue !important;

    &.active {
      color: @light !important;
      background-color: @blue !important;
    }
  }
}

.periods-selector {
  border-radius: 5px;
  padding: 0;
  border: 1px solid @gray;
  background-color: @light;
  overflow: hidden;

  .btn {
    border: none;
    font-weight: normal;
    color: @dark;
    background-color: @light !important;
    border-left: 1px solid @gray !important;

    padding: 8px 10px;

    &:first-child {
      border-radius: 4px 0 0 4px !important;
    }
    &:last-child {
      border-radius: 0 4px 4px 0 !important;
    }

    &.prefix {
      cursor: default;
      z-index: 4;
      &.prefix-validated {
        background-color: @gray !important;
        border-right: 1px solid @light;
      }
      &.prefix-to-validate {
        display: none;
        color: @light !important;
        background-color: @orange !important;
      }
      &.prefix-current {
        display: none;
        color: @light !important;
        background-color: @purple !important;
      }
      &:hover {
        z-index: 4;
        text-decoration: none;
      }
      &.active {

      }
    }

    &:hover {
      z-index: inherit;
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      background-color: @gray !important;
    }
  }

  .period-to-validate {
    > span {
      margin-left: 8px;
    }
    color: @orange !important;

    &.active {
      color: @light !important;
      background-color: @orange !important;
    }
  }

  .current-period {
    > span {
      margin-left: 8px;
    }
    color: @blue !important;

    &.active {
      color: @light !important;
      background-color: @blue !important;
    }
  }

  .validated-period {
    //color: @purple !important;

    /*&.active {
      color: @light !important;
      background-color: @purple !important;
    }*/
  }




}

.summary-block{
  border-top: 2px solid white;
  border-left: 2px solid white;
  min-height: 170px;
  text-align:center;
}

.summary-block-count{
	margin-top : 39px;
	height:45px;
}

.padding-right-zero{
  padding-right: 0 !important;
}

//histograms
.axis path,
.axis line{
  fill: none;
  stroke: @gray;
}

path.line{
  fill: none;
  stroke: @gray;
}

.tick text{
  font-size: 1.1rem;
}

.histo-svg {
  border: solid 1px @gray;
    display: inline-block;

    top: 0;
    left: 0;
}

.histo-rect {
  fill-opacity: 1;
}

.histo-rect:hover {
  &.fill-red {
   fill: darken(@red, 10%);
  }
  &.fill-blue {
    fill: darken(@blue, 10%);
  }
  &.fill-black {
    fill: darken(black, 10%);
  }
  &.fill-green {
    fill: darken(@green, 10%);
  }
}

#histoIMS {
  margin-top: 50px;
}
#histoETHERNET{
   margin-top:50px;
}
#histoGTR{
   margin-top:42px;
}
#histoVPN{
   margin-top:56px;
 }
#histoPAI{
  margin-top: 43px;
}
#histoUsagedata{
  margin-top: 55px;
}

.equal,
.equal > div[class*='flex-col'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}
.flex-col{
      align-items: center;
      justify-content: center;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    //padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;

}
.svg-content {
  border: solid 1px @gray;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.table-hover > tbody > tr.no-hover:hover {
    background-color: transparent;
}
.td {
      text-align: center !important;
}

.noBorderBottom{
  border-bottom: none !important;
}

.topMargin{
  margin-top:30px;
}
