/**CSS Footer**/
footer{
    font-size: 8px;
    //position: fixed;
    bottom : 0;
    left: 0;
    right: 0;
    padding: 5px !important;
    span {
        padding: 0;
    }
/*     height: 60px; */
}

