// Utils
@import "_variables";

/**CSS Header**/
[ui-view="header"] {

    .navbar-default {
        color: @black;
        background-color: @white;
        border-color: @ora-light;
        
        border-radius: 4px;
        border: solid 1px @ora-light;

        .navbar-header{
            h4 > a {
                outline: 0px;
            }

            .navbar-brand{
                margin-left: -20px;
            }
        }
    }
}

.navbar-brand{
    padding: 8px;
    color: @black;

    img{
        padding: 8px;
        width: auto;
        height: 100%;
        //content:url('../../../images/obs-left-black.png');
    }
    
}

.vertical-center {
    display: flex;
    align-items: center;
}