@qv-height: ~'100vh - 160px';
@qv-height-ext: ~'100vh - 90px';

/**CSS Iframe QlickView**/
iframe{
    &.qv-view {
        &.ext {
            height: -moz-calc(@qv-height-ext);
            height: -webkit-calc(@qv-height-ext);
            height: calc(@qv-height-ext);
        }
        height: -moz-calc(@qv-height);
        height: -webkit-calc(@qv-height);
        height: calc(@qv-height);
        width: 1244px;
        //max-width: 100%;
        display: table;
        margin: auto;

    }
    border:none;
    z-index: 1;

    &.srm-view {
        &.ext {
            height: -moz-calc(@qv-height-ext);
            height: -webkit-calc(@qv-height-ext);
            height: calc(@qv-height-ext);
        }
        height: -moz-calc(@qv-height);
        height: -webkit-calc(@qv-height);
        height: calc(@qv-height);
        width: 100%;
        //max-width: 100%;
        display: table;
        margin: auto;

    }
    border:none;
    z-index: 1;
}

.qv-centering {
  table-layout: fixed;
  width: 100%;
}

.qv-bg-gray {
	background-color: @gray;
	z-index: 99;
	padding-left: 0rem;
	padding-right: 0rem;
}

.qv-nav {
  float: left;
  background-color: @dark;
  height: 47px;
  width: 100%;
  position: absolute;
  z-index: -1;
}
