#kitchen{
    #tablestick.sticky , #selectionstick.sticky{
        position: fixed;
        top: 0;
        width: 95%;
      }

      .sticky + .content {
        padding-top: 60px;
      }

      .localdata {
        color: blue;
      }
}
