ora-indicator,
ora-indicator-sccr,
ora-btic-indicator {
    margin-bottom: 1rem;
}

#kpiStructure {

    >.col-md-2 {
        min-height: 50px;

        H4 {
            margin-top: 0;
        }
    }

    .col-md-10 {
        #kpiDisplay {
            padding: 0;

            div>.row .col-md-6 h6 {
                display: inline-block;
            }

            div>.container-fluid {
                padding: 20px 0px 0px 0px;

                .table {
                    margin-bottom: 20px;
                }

                div .col-md-5 table {
                    thead .kpi-header-title {
                        th {
                            font-size: 13px;
                        }

                        .kpiHeaderInlineTh-0 {
                            position: absolute;
                            top: -22px;
                            left: 77%;
                            min-width: 150px;

                        }

                        .kpiHeaderInlineTh-1 {
                            position: absolute;
                            left: 87%;
                        }
                    }

                    tbody tr td:first-child {
                        padding-left: 22px;
                    }
                }
            }
        }
    }
}

.histoTooltip {
    font-size: 1.2rem;
}

.excelPerformance {
    a>span {
        font-size: 22px;
    }
}

.excelSccr {
    a>span {
        font-size: 3.5rem;
    }
}