#modalPerimeters{
  
    .st-sort-ascent:before {
      content: '\25B2';
    }
  
    .st-sort-descent:before {
      content: '\25BC';
    }
  
    .iconAlign{
      text-align: center;
      padding: 0.7rem;
      margin: 0px;
  
      span{
        font-size: 2.5rem;
        color: rgb(75, 180, 230);
        cursor: pointer;
      }
    }
  
    table{
      margin: 10px;
      width: 98%;
    }
  
  }
  
  