// Utils
@import "_variables";

/**CSS nav**/
[ui-view="nav"] {

    .navbar-inverse {

        padding-right: 20px;

        li>button {
            margin-top: 20px;
            outline: 0px;
        }

        .dropdown-menu>li>a>span:first-child {
            margin-right: 20px;
            font-weight: normal
        }


        .navbar-nav h4 {
            color: @white;
            margin-top: 26px;
            margin-right: 10px;
            font-size: 12px;
        }
    }

    .protoButton {
        padding-top: 13px;
        margin-right: -12px;

        .btn-default {
            background-color: black !important;
            color: white;
        }

        .dropdown-toggle.btn-default:hover {
            color: #f16e00 !important;
            background-color: black !important;
            border-color: black !important;
        }

        .btn-default:active:hover,
        .btn-default.active:hover,
        .open>.dropdown-toggle.btn-default:hover,
        .btn-default:active:focus,
        .btn-default.active:focus,
        .open>.dropdown-toggle.btn-default:focus,
        .btn-default:active.focus,
        .btn-default.active.focus,
        .open>.dropdown-toggle.btn-default.focus {
            color: #f16e00 !important;
            background-color: black !important;
            border-color: black !important;
        }

        .btn-default.focus,
        .btn-default:focus {
            color: white !important;
            background-color: black !important;
            border-color: black !important;
        }

        .btn-default.active,
        .btn-default:active {
            color: #f16e00 !important;
            background-color: black !important;
            border-color: black !important;
        }

        button:focus {
            outline: 0px !important;
        }

        li {
            cursor: default;
        }

        ul {
            margin-left: 20px;
            width: 200px;
        }

        ul>li.dropdown-header {
            font-size: inherit;
        }

        ul>li.dropdown-item>a {
            padding-left: 32px;
        }

        .dropdown-item:hover,
        .dropdown-menu:focus {
            text-decoration: none;
            background-color: #000;

            >a {
                color: #fff;
            }
        }
    }

    .selectedSub {
        cursor: pointer;
        padding-left: 20px;
        font-size: 13px;
        color: white;
    }

    p.active {
        color: #f16e00 !important;
    }
}