custom-ora-srm {
    .container{
        background: white;
    }

    ul{
        height: auto !important;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: transparent !important;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        outline-style: none;
    }
}