div.titreSection, h3.titreSection {
    color: #FF7900;
}

ul.persoDropdown {
    margin-left: 200px;
}

div.titreSection div {
    color: #FF7900;
    // width: 30%;
    width:auto;
    float: left;
    font-size: 65%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-top: 24px;
    margin-right:20px;

    li {
        display: block;
        > span{
            font-size: 2.8rem;
            font-weight: bold;
            line-height: 1.1;
        }

        button{
            font-style: italic;
        }    
    }
}

div.titreSection div:not(:first-child) {
    margin-top: 30px;
    // width: 20%;
    width:auto;
    margin-right:20px;
}

h4.titreSousSection {
    cursor: pointer;
}

span.headerValueData {
    color: black;
}

.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr > .info,
.table > tbody > tr.info > th {
    background-color: #DDDDDD;
}

.table > tbody > tr > td span.currentNbAccess {
    font-style: italic;
    font-size: 75%;
}

.table > thead.personnalisation > tr > th {
    font-size: 14px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: inherit;
    //box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    //opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    //opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.material-switch > input[type="checkbox"] + label.label-success {
background-color: #32c832
}
.material-switch > input[type="checkbox"] + label.label-warning {
background-color: #f16e00
}
.color-warning > th{
  color: #f16e00
}
.color-warning{
  color: #f16e00
}
.color-success{
 color: #32c832
}
.color-success  > th{
 color: #32c832
}
.twentypercent{
  width: 20%
}
.sixtypercent{
  width: 60%
}
.tenpercent {
  width: 10%
}
