/* Background for spinner */

.spinner:before { 
  background-color: rgba(49, 37, 37, 0.2);
  border-radius: 6px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  content: " ";
}

#spinnerOra {
  position: fixed;
  top: 50px;
  left: 640px;
  z-index: 100;
}