@sticky-height: ~"100vh - @{internal-sticky-offset}";
@sticky-height-perso: ~"100vh - @{internal-sticky-offset-tab} - @{internal-sticky-offset-footer}";
@sticky-height-validated: ~"100vh - @{internal-sticky-offset} - 19px";
@sticky-height-ext: ~"100vh - @{external-sticky-offset}";

.sticky-panel {
	&.ext {
		height: -moz-calc(@sticky-height-ext);
		height: -webkit-calc(@sticky-height-ext);;
		height: calc(@sticky-height-ext);
	}
	&.validated {
		height: -moz-calc(@sticky-height-validated);
		height: -webkit-calc(@sticky-height-validated);;
		height: calc(@sticky-height-validated);
	}
	height: -moz-calc(@sticky-height);
	height: -webkit-calc(@sticky-height);;
	height: calc(@sticky-height);
	overflow-y: scroll;
	background-color: rgb(246,246,246);
}

.sticky-panel_non_color {
	&.ext {
		height: -moz-calc(@sticky-height-ext);
		height: -webkit-calc(@sticky-height-ext);;
		height: calc(@sticky-height-ext);
	}
	&.validated {
		height: -moz-calc(@sticky-height-validated);
		height: -webkit-calc(@sticky-height-validated);;
		height: calc(@sticky-height-validated);
	}
	height: -moz-calc(@sticky-height);
	height: -webkit-calc(@sticky-height);;
	height: calc(@sticky-height);
	overflow-y: auto;
	overflow-x: hidden;
}

.sticky-panel_non_color_perso_sccr {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: -5px;
}


.sticky-panel_non_color_perso_sccv {
	  height: -moz-calc(@sticky-height-perso);
	  height: -webkit-calc(@sticky-height-perso);;
	  height: calc(@sticky-height-perso);
	  overflow-y: auto;
	  overflow-x: hidden;
	  margin-bottom: -5px;
	}

.sticky-panel table.table {
	background-color: rgb(246,246,246) !important;
}

.comment-content {
	//padding-left: 13.5%;
	-ms-word-break: break-all;
	word-break: break-all;
	//margin-top: 30px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.comment-tool {
	margin-top: 30px;
}
