.noDataMessage{
    font-weight: normal; 
    font-size: 12px; 
    display: inline-block;
    margin:0;
}

.header-text{
    text-align: center; 
    font-size:1.3rem !important;
    padding: 0 .5rem 0 .5rem;   
    display: table-cell !important;     
}


.usage-table-style tr > td:first-child {
  white-space: normal !important;
  width: 50%;
  word-break: normal !important;
} 

ora-non-contractual-table, ora-evolution-table, ora-generic-monthly-table, .table-style {

    display: block;
    border-collapse: collapse;
    margin: 0px 0px;

    table{
        background-color: @gray-light;
    }

    .italic {
        font-style: italic;
    }

    th {
        font-weight: normal;
        font-size: 1.3rem;
        text-align: center;
    }

    tr > td:not(:first-child) {
        text-align: center;
        border-bottom: 1px solid black;
        padding:0; margin:0;
        word-break: break-all;
    }

    tr > td:first-child {
        white-space: nowrap;
        min-width: 110px;
        word-break: break-all;
    }

    .bold{
        font-weight: bold;
    }
}

.centred-orange{
     text-align: center;
     color: orange;
}

.centred{
    text-align: center;
}

ora-generic-detailed-record-table{
    display: block;
    border-collapse: collapse;
    margin: 0px 0px;

    .tableTitle{
        font-weight: normal;
        font-size: 1.3rem;
        text-align: left;
    }
    table{
        background-color: @gray-light;
    }
    .italic {
        font-style: italic;
    }

    th {
        font-weight: normal;
        font-size: 1.3rem;
        text-align: center;
        border: 1px solid #ccc;
    }
    tr > td {
        text-align: left;
        font-size: 1.3rem;
        border: 1px solid #ccc;
        padding:0; 
        margin:0;
    }
    .bold{
        font-weight: bold;
    }
}


ora-generic-details-table-filtred{
    display: block;
    border-collapse: collapse;
    margin: 0px 0px;

    .tableTitle{
        font-weight: normal;
        font-size: 1.3rem;
        text-align: left;
    }
    table{
        background-color: @gray-light;
    }
    .italic {
        font-style: italic;
    }

    th {
        font-weight: normal;
        font-size: 1.3rem;
        text-align: center;
        border: 1px solid #ccc;
    }
    tr > td {
        text-align: left;
        font-size: 1.3rem;
        border: 1px solid #ccc;
        padding:0; 
        margin:0;
    }
    .bold{
        font-weight: bold;
    }
    .btn {
        background-color: @gray-light;
        border-color: #ccc;
        border-width: 1px;
    }
    .btn:hover, .btn:focus{
        background-color: #dddddd;
        color: black;
        border-color: #ccc;
    }

    .btn-group{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        float: right;
    }
    .padding-left{
        padding-left: 10px
    }
}
.paginationDetail{
    margin: 7px 10px; 
    float: right;
     .active > a,  .active > span,  .active > a:hover,  .active > span:hover,  .active > a:focus,  .active > span:focus{
        background-color: #bbb;
        color: #fff;
     }

      li > a,  li > span{
        background-color: #eee;
        color: #000;
      }

      li > a:hover,  li > span:hover,  li > a:focus,  li > span:focus{
        background-color: #bbb;
      }

      .active > a,  .active > span, 
       .active > a:hover, 
       .active > span:hover, 
       .active > a:focus, 
       .active > span:focus{
        background-color: #ccc;
        color: #fff;
      }

      .disabled > span,  .disabled > span:hover,  .disabled > span:focus,  .disabled > a,  .disabled > a:hover,  .disabled > a:focus{
        background-color: #ccc;
      }
}