<div class="col-md-5">
	<ora-generic-monthly-table monthly-history='indicator.monthlyHistory'
		metrics-definitions="indicator.metricsDefinitions"
		indicator-info='indicatorInfo' configurations='configurations'>
	</ora-generic-monthly-table>
	
	<div data-ng-if ="displayNaText" style ="padding-top:10px">
		<em style="font-size: 1.2rem" translate translate-default="&nbsp;">{{naTextShort}}</em><br>
		<em style="font-size: 1.2rem" translate translate-default="&nbsp;">{{naTextLong}}</em>
	</div>
</div>
<div class="col-md-7">
	<pai-historic historic-id="PAIhistoricId"
		historic-options="historicOptions" indicator="indicator">
	</pai-historic>
</div>
