<div class="col-md-5">
    <div data-ng-if="isApplicable(roundTripDelayInfo)">
        <h6 style='margin-left: -10px;'>{{roundTripDelayInfo.longLabel}}</h6>
        <ora-generic-monthly-table monthly-history='roundTripDelayInfo.monthlyHistory' metrics-definitions="roundTripDelayInfo.metricsDefinitions" indicator-info='roundTripDelayIndInfo' configurations='roundTripDelayConfigurations'></ora-generic-monthly-table>
        </br>
    </div>

    <div data-ng-if="isApplicable(packetLossRateInfo)">
        <h6 style='margin-left: -10px;'>{{packetLossRateInfo.longLabel}}</h6>
        <ora-generic-monthly-table monthly-history='packetLossRateInfo.monthlyHistory' metrics-definitions="packetLossRateInfo.metricsDefinitions" indicator-info='packetLossRateIndInfo' configurations='packetLossRateConfigurations'></ora-generic-monthly-table>
        </br>
    </div>

    <div data-ng-if="isApplicable(jitterInfo)">
        <h6 style='margin-left: -10px;'>{{jitterInfo.longLabel}}</h6>
        <ora-generic-monthly-table monthly-history='jitterInfo.monthlyHistory' metrics-definitions="jitterInfo.metricsDefinitions" indicator-info='jitterIndInfo' configurations='jitterConfigurations'></ora-generic-monthly-table>
    </div>

</div>
<div class="col-md-12">
    <performance-table></performance-table>
</div>