<div class="col-md-5">
    <ora-generic-monthly-table monthly-history='monthlyHistory' metrics-definitions="metricsDefinitions" indicator-info='indicatorGeneralInfo' configurations='configurations'></ora-generic-monthly-table>
</div>
<div class="col-md-7">
    <ora-stacked-histogram historic-id="historicId" historic-options="historicOptions" monthly-history="monthlyHistory" metrics-definitions="metricsDefinitions"></ora-stacked-histogram>
</div>
<div class="col-md-12" ng-if="indicator.onPeriod.information && indicator.onPeriod.information[0] && indicator.onPeriod.information[0].href">
    <ims-table report-type ="type"></ims-table>
</div>