<div class="col-md-5">
	<ora-generic-monthly-table monthly-history='indicator.monthlyHistory'
		metrics-definitions="indicator.metricsDefinitions"
		indicator-info='indicatorInfo' configurations='configurations' extra-style ='usageStyles'>
	</ora-generic-monthly-table>
</div>
<div class="col-md-7">
	<ora-line-histogram historic-id="historicId"
		historic-options="historicOptions"
		monthly-history="volumetryDataScaled.monthlyHistory"
		metrics-definitions="indicator.metricsDefinitions"
		legend-unit ="volumetryDataScaled.legendUnit">
	</ora-line-histogram>
</div>

<div class="col-md-12" style ="margin-top: 20px;"  data-ng-if="indicator.onPeriod.information && indicator.onPeriod.information[0].href">
	<ora-generic-details-table-filtred
		information="infoCopy[0]"
		configurations="filtredDetailsTabConf"
		data="topcharges">
	</ora-generic-details-table-filtred>
</div>

<div class="col-md-12" style ="margin-top: 20px;" data-ng-if="indicator.onPeriod.information  && !indicator.onPeriod.information[0].href">
	<ora-generic-detailed-record-table
		information="infoCopy"
		configurations="detailsTableConfigurations"
		callback-fn="sortData(arg1)">
	</ora-generic-detailed-record-table>
</div>
