<div class="col-md-5">
    <ora-generic-monthly-table monthly-history='indicator.monthlyHistory' metrics-definitions="indicator.metricsDefinitions" indicator-info='indicatorGeneralInfo' configurations='configurations'></ora-generic-monthly-table>
</div>
<div class="col-md-7">
    <ora-stacked-histogram historic-id="historicId" historic-options="historicOptions" monthly-history="indicator.monthlyHistory" metrics-definitions="indicator.metricsDefinitions"></ora-stacked-histogram>
</div>