<div>
    <div class="modal-header">
        <h5 class="modal-title" translate="COMMENT_EDIT_LONGLABEL">
        </h5>
    </div>
    <div>
        <h5 class="modal-section col-md-offset-1"><span translate>{{titreSectionPopup}}</span> :</h5>
    </div>
    <div class="modal-body modal-body-editer">
        <form role="form" name="form">
            <div ng-if='isIE' style="max-width: 100%" class="form-group form-group-editer ui-widget-content" id='resizable' ng-init="resizable()">
                <!-- <textarea id="comment" name="comment" data-ng-model="$parent.comment" cols="20" rows="25" style="width: 100%;  overflow: auto;height : 100%;min-width: 100%;" maxlength="2000" data-ng-required="true" focus></textarea> -->
                <text-angular id="comment" name="comment" ng-model="$parent.comment" style="width: 100%;  overflow: auto;height : 100%;min-width: 100%;"  data-ng-required="true" focus></text-angular>
            </div>
            <div ng-if='!isIE' style="max-width: 100%" class="form-group form-group-editer">
                <!-- <textarea id="comment" name="comment" data-ng-model="$parent.comment" cols="20" rows="20" style="width: 100%;  overflow: auto;height : 100%; min-width: 100%;" maxlength="2000" data-ng-required="true" focus></textarea> -->
                <text-angular id="comment" name="comment" ng-model="$parent.comment" style="width: 100%;  overflow: auto;height : 100%;min-width: 100%;"  data-ng-required="true" focus></text-angular>
            </div>
        </form>
        <div>
            <div data-ng-show="comment.length > maxSize" class="red-error error-msg"><span translate="COMMENT_ERR_OVERSIZE_LONGLABEL"></span> ( {{comment.length}}/{{maxSize}} )</div>
            <div data-ng-show="form.comment.$error.required && report.lifecycleState ==='toBeValidated' && typeSection === 'FACT' " class="red-error error-msg" translate="COMMENT_ERR_NO_HIGHLIGHTS_LONGLABEL"></div>
            <div data-ng-show="errorMessage" class="red-error error-msg">{{errorMessage}}</div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="cancelModal()" translate="GLOBAL_CANCEL_SHORTLABEL"> </button>
        <button type="button" class="btn btn-warning" data-ng-disabled="(form.comment.$error.required && report.lifecycleState === 'toBeValidated') || comment.length > maxSize" data-ng-click="confirmModal()" translate="GLOBAL_VALIDATION_SHORTLABEL"></button>
    </div>
</div>